body {
    background-image: url(../images/layout_03_bg_main2.png);	
    background-repeat: repeat;
	padding: 0px;
    margin:0px auto 10px auto;
}

body *{
	font-family: sans-serif, Helvetica, Arial;
	font-size: 9pt;
	margin: 0px;
	padding: 0px;
}

body img {
	border:none;
}
/*================================================*/
/*================== CONTAINERS  =================*/
/*================================================*/

.main_container{           /* This is container for header, content and footer sections */
    width:950px;
	margin:0px auto;
}

.header{
    height:80px;
    padding-top:25px;
}

.nav_menu {
    margin:0px 0px 10px 0px;
}

.content{
	border-bottom:1px solid transparent;
	background-color:#f5f5e9;
}

.content_top{    
	background-image: url(../images/l3_main_top.png);	
    background-repeat: no-repeat;
    height:20px;
}

.content_bottom{
	background-image: url(../images/l3_main_bottom.png);	
    background-repeat: no-repeat;
    height:20px;
}

/*================================================*/
/*====================== HEADER  =================*/
/*================================================*/


.logo_container {
	float:left;
}

.search_container {
	float:right;
	padding-top:10px;
}

.search_box{
	background-image: url(../images/bg_search.png);	
}

.nav_TD{
	background-color:#d8dfe4;
	background-image: url(../images/bg_menu.png);
	background-repeat:repeat-x;
	font-size: 1em;
	vertical-align:middle;	
}

.nav_item_container LI{
	list-style:none;
	float:left;
}

.nav_item_container LI A{
	color:#000000;
	margin:0px 1px;
	padding:6px 20px 6px 20px;
	font-weight:bold;
	text-decoration:none;	
}

.nav_item_container LI A:hover{
	text-decoration:none;
}

.footer{
	display:none;
}

.footer UL{
	float:right;
}

.footer LI{
	float:left;
	list-style:none;	
	padding-top:10px;
	padding-bottom:5px;
	margin-top:5px;
	margin-bottom:5px;	
	margin-right:10px;
}

.footer LI A{
	color:#ffffff;
	margin:0px 2px 0px 14px;
	padding:6px 6px 6px 6px;
	font-weight:bold;
	text-decoration:none;
	border-left:1px solid #ffffff;
}

.footer LI A:hover{
	text-decoration:none;
}

/*================================================*/
/*====================== CONTENT  ================*/
/*================================================*/

/*
Home Page layout 

|`````````````|   header
|``|````RC1```|
|  |``````|```|
|L1|  RC2 |RC3|   content
|  |      |   |
|  |      |   |
|`````````````|   footer
```````````````
*/


.left_container {    
    float:left;
} 

.left_container {
    width:648px;  
    margin-right:15px;    /* 648px + 30 = 678px */
    margin-left:15px;
}

.left_child_1{    /* L1 */
	
}

.right_container {
	float:right;
	width:257px;       /* 678 + 272 = 950 */
	margin-right:15px;
}

.right_child_1, .right_child_2, .right_child_3, .right_child_4{
	width:auto;
	background: none;
	border: none;
	margin:0px;
	padding:0px;	
}

/*================================================*/
/*== DOM wise style definition for each widget  ==*/
/*================================================*/

.widget_container {
	margin:0px; 
	padding:0px;	
	margin-bottom:5px;
	position:relative;
}

.widget_container A:link {text-decoration: none;}
.widget_container A:visited {text-decoration: none;}
.widget_container A:active {text-decoration: none;} 
.widget_container A:hover {text-decoration: underline;}

.widget_container .widget_container{
	margin:0px; 
	padding:0px;
	border:none;
	background-image:none;
	position:relative;	
}

/*================================================*/
/*============= WIDGET corner styles   ===========*/
/*================================================*/
.spacer{
	height:1px;
	font-size:0px;
}

.a, .b, .c, .d, .e,
.f, .g, .h, .i, .j{
	width:auto;
	background:none;
	background-color:none;
}

.curved_top {
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	padding:0px;
	margin:0px;
	border:0px;
	font-size:0px;
	display:none;
}

.curved_bottom {
	width:100%;
	position:relative;
	top:-8px;
	left:0px;
	padding:0px;
	margin:0px;
	border:0px;
	font-size:0px;
}

.transparent_50 {
	filter: alpha(opacity=25); /* internet explorer */
	-khtml-opacity: 0.25;      /* khtml, old safari */
	-moz-opacity: 0.25;       /* mozilla, netscape */
	opacity: 0.25;           /* fx, safari, opera */
}

.a, .b, .c, .d, .e, .f, .g, .h, .i, .j{
	padding:0px;
	margin:0px;
	font-size:0px;	
}
/* TOP CURVED */
.a{
	height:1px;
	border-left:5px solid #f5f5e9;
	border-right:5px solid #f5f5e9;
	position:relative;	
}

.a .a_right{
	position:absolute;
	right:-1px;
	width:2px;
	height:1px;
	font-size:0px;
	background-color:#f5f5e9;
}

.a .a_left{
	position:absolute;
	left:-1px;
	width:2px;
	height:1px;
	font-size:0px;
 	background-color:#f5f5e9;	
}

.b{
	height:1px;
	border-left:3px solid #f5f5e9;
	border-right:3px solid #f5f5e9;
	position:relative;		
}

.b .b_right{
	position:absolute;
	right:0px;
	width:1px;
	height:1px;
	font-size:0px;
	background-color:#f5f5e9;
}

.b .b_left{
	position:absolute;
	left:0px;
	width:1px;
	height:1px;
	font-size:0px;
 	background-color:#f5f5e9;	
}


.c{
	height:2px;	
	border-left:2px solid #f5f5e9;
	border-right:2px solid #f5f5e9;
}

.d{
	height:2px;
	border-left:1px solid #f5f5e9;
	border-right:1px solid #f5f5e9;
}

.e{
	height:2px;	
	border-left:0px solid #f5f5e9;
	border-right:0px solid #f5f5e9;
	position:relative;		
}

.e .e_right{
	position:absolute;
	right:0px;
	width:1px;
	height:2px;
	font-size:0px;
	background-color:#f5f5e9;
}

.e .e_left{
	position:absolute;
	left:0px;
	width:1px;
	height:2px;
	font-size:0px;
 	background-color:#f5f5e9;	
}

/* BOTTOM CURVED */

.f{	
	height:2px;	
	border-left:0px solid #f5f5e9;
	border-right:0px solid #f5f5e9;
	position:relative;		
}

.f .f_right{
	position:absolute;
	right:0px;
	width:1px;
	height:2px;
	font-size:0px;
	background-color:#f5f5e9;
}

.f .f_left{
	position:absolute;
	left:0px;
	width:1px;
	height:2px;
	font-size:0px;
 	background-color:#f5f5e9;	
}

.g{
	height:2px;
	border-left:1px solid #f5f5e9;
	border-right:1px solid #f5f5e9;
}

.h{
	height:2px;	
	border-left:2px solid #f5f5e9;
	border-right:2px solid #f5f5e9;
}

.i{
	height:1px;
	border-left:3px solid #f5f5e9;
	border-right:3px solid #f5f5e9;
	position:relative;		
}

.i .i_right{
	position:absolute;
	right:0px;
	width:1px;
	height:1px;
	font-size:0px;
	background-color:#f5f5e9;
}

.i .i_left{
	position:absolute;
	left:0px;
	width:1px;
	height:1px;
	font-size:0px;
 	background-color:#f5f5e9;	
}


.j{
	height:1px;
	border-left:5px solid #f5f5e9;
	border-right:5px solid #f5f5e9;
	position:relative;	
}

.j .j_right{
	position:absolute;
	right:-1px;
	width:2px;
	height:1px;
	font-size:0px;
	background-color:#f5f5e9;
}

.j .j_left{
	position:absolute;
	left:-1px;
	width:2px;
	height:1px;
	font-size:0px;
 	background-color:#f5f5e9;	
}

/*================================================*/
/*== DOM wise style definition for each widget  ==*/
/*================================================*/

/* IE Fix for disappearing text */
* html .productselector .productselector_t, 
* html .productselector .productselector_c,
* html .product_info,
* html .productlist .plist_t, 
* html .productlist .plist_c,
* html .plist_info,
* html .product_detail .detail_t, 
* html .product_detail .detail_c,
* html .detail_info,
* html .html_snippet .html_t,
* html .html_snippet .html_c,
* html .banner_ad .banner_t,
* html .banner_ad .banner_c,
* html .categsoftlist .categsoftlist_t, 
* html .categsoftlist .categsoftlist_c 
{ 
	height:1px;
}

html * span{
	font-size:100%;
}



.left_container .productselector .productselector_t,
.left_container .productlist .plist_t,
.left_container .product_detail .detail_t,
.left_container .html_snippet .html_t,
.left_container .banner_ad .banner_t,
.left_container .categsoftlist .categsoftlist_t 
{
	padding:4px 10px 4px 10px;
	font-size:1.5em;
	text-decoration:none;		
}
.left_container .productselector .productselector_c,
.left_container .productlist .plist_c,
.left_container .product_detail .detail_c,
.left_container .html_snippet .html_c,
.left_container .categsoftlist .categsoftlist_c
{
	padding:4px 10px 4px 10px;
	border:none;
	position:relative;	
}
.banner_ad .banner_c {padding:0px;} /*excluded for banner*/


.right_container .productselector .productselector_t,
.right_container .productlist .plist_t,
.right_container .product_detail .detail_t,
.right_container .html_snippet .html_t,
.right_container .banner_ad .banner_t,
.right_container .categsoftlist .categsoftlist_t {
	padding:4px 10px 4px 10px;
	font-size: 1.5em;
	text-decoration:none;	
}
.right_container .productselector .productselector_c,
.right_container .productlist .plist_c,
.right_container .product_detail .detail_c,
.right_container .html_snippet .html_c,
.right_container .categsoftlist .categsoftlist_c
{
	padding:10px 10px 10px 10px;
	border:none;	
	position:relative;
}


/*~~~~~~~  PRODUCT CATEGORIES ~~~~~~~~~~~~~~~~~~~~*/

.categsoftlist .categsoftname A, .categsoftlist .categsoftname A:visited{
	background-color: none;
	text-decoration: none;
    background-image: url(../images/arrow2.png); 
	background-repeat: no-repeat;
	padding-left:15px;
    background-position: left 3px;
    display:block;
}

.categsoftlist .categsoftname A:hover{
	text-decoration: underline;
}

.categsoftlist .categsoftinfo{
	background-color: none;
	text-decoration: none;
	padding:0px;
	padding-left:15px;
    display:block;
    color:#000000;
}

.categsoftlist .categsoftinfo A {
	padding-left:5px;
	color:#000000;
	display:block;
	border-bottom: 1px dashed #cccccc;	
}

/*~~~~~~~  PRODUCT SELECTOR ~~~~~~~~~~~~~~~~~~~~~~~~*/

.product {
	position:relative;
}

.left_container .productselector .product {
	margin-bottom:1px;
	padding:0px;
	border-bottom: 1px solid #cccccc;
	width:100%;
}

.productselector .product_info{}

.productselector .product_pic {
	float:left;
	padding-right:5px;
}

.productselector .product_pic img{
	margin:5px 1px 5px 1px;
}

.productselector .product_name{
	padding:0px 0px 0px 0px;
}

.right_container .productselector .product_name A, .right_container .productselector .product_name A:visited
{
	background-color: none;
	color: #b87722; 
	text-decoration: none;
    background-image: url(../images/arrow2.png); 
	background-repeat: no-repeat;
    background-position: 2px 3px;
	padding-left:17px;
	padding-bottom:0px;
	display:block;	
}

.right_container .productselector .product_name A:hover{
    color: #b87722;     
    text-decoration: underline;
}

.left_container .productselector .product_name A,
.left_container .productselector .product_name A:visited
{
	background-color: none;
	font-size: 1.2em; 
	font-weight: bold; 
	color: #b87722; 
	text-decoration: none;
}

.left_container .productselector .product_name A:hover{
    font-weight: bold; 
    color: #b87722; 
    text-decoration: underline;
}

.productselector .product_desc{
    line-height:14px;	
    color:#000000;
    padding-top:5px;
}

.productselector .btn_container{
    float:right;
}
	
.productselector .btn_container .btn{
    float:left;
    padding-right:5px;
    padding-bottom:5px;
    padding-top:5px;        
}
 

/*~~~~~~~  PRODUCT LIST  ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.productlist .plist_topbar{
	border:1px solid;
	padding:3px;
	background-image: url(../images/bg_subhead.gif);	
	margin-bottom:10px;
	position:relative;
	top:3px;
}

.productlist .plist_form{
	width:80%;	
}

.productlist .product_price{
	color:#CC3300;
	padding-bottom:5px;
    line-height:14px;	
}

.productlist .plist_category{
	position:absolute;
	padding:3px;
	top:4px;
	right:8px;
}

.productlist .plist_pagination{
	width:80%;
	padding:3px;
}

.productlist .plist_pagesize{
	position:absolute;
	padding:3px;
	top:4px;
	right:8px;
}

.left_container .productlist .plist_product{
	margin-bottom:1px;
	border-bottom: 1px dashed #cccccc;	
	width:100%;
}

.productlist .plist_info{}

.productlist .plist_pic {
	float:left;
	padding-right:5px;	
}

.productlist .plist_pic img{
	margin:5px 1px 5px 1px;
}

.productlist .product_name{
	padding-top:4px;
}

.right_container .productlist .product_name A, .right_container .productlist .product_name A:visited{
	background-color: none;
	color: #b87722; 
	text-decoration: none;
    background-image: url(../images/arrow2.png); 
	background-repeat: no-repeat;
    background-position: 2px 3px;
	padding-left:17px;
	padding-bottom:4px;
	display:block;	
}

.right_container .productlist .product_name A:hover{
    color: #b87722;     
    text-decoration: underline;
}

.left_container .productlist .product_name A,
.left_container .productlist .product_name A:visited{
	background-color: none;
	font-size: 1.2em; 
	font-weight: bold; 
	color: #b87722; 
	text-decoration: none;
}

.left_container .productlist .product_name A:hover{
    font-weight: bold; 
    color: #b87722; 
    text-decoration: underline;
}

.productlist .product_desc{
    line-height:14px;	
    color:#000000;
}

.productlist .btn_container{
    float:right;
}

.productlist .btn_container .btn{
    float:left;
    padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
}


/*~~~~~~~  PRODUCT DETAIL  ~~~~~~~~~~~~~~~~~~~~~~~~~*/

.left_container .product_detail .detail_t{
	font-size: 1.5em; 
	font-weight: bold; 
	text-decoration:none;	
}

.left_container .product_detail .detail_t span{
	display:block;	
	padding-bottom:0px;
	text-decoration:none;
}

.product_detail .detail_info{}

.product_detail .detail_pic {
	float:left;
	padding-bottom:5px;	
	padding-left:1px;	
	padding-right:5px;	
	text-align:center;
}

.product_detail .detail_pic img{
	margin:0px;
}

.product_detail .product_category{
	color:#999999;
	padding-bottom:5px;
}

.product_detail .product_price{
	color:#CC3300;
	padding-bottom:5px;
    line-height:14px;
}

.right_container .product_detail .product_name A, .right_container .product_detail .product_name A:visited
{
	background-color: none;
	color: #b87722; 
	text-decoration: none;
    background-image: url(../images/arrow2.png); 
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left:15px;
	padding-bottom:4px;
	display:block;
}

.right_container .product_detail .product_name A:hover{
    color: #b87722;     
    text-decoration: underline;
}

.left_container .product_detail .product_name A,
.left_container .product_detail .product_name A:visited{
	background-color: none;
	font-size: 1.2em; 
	font-weight: bold; 
	color: #b87722; 
	text-decoration: none;
}

.left_container .product_detail .product_name A:hover{
    font-weight: bold; 
    color: #b87722; 
    text-decoration: underline;
}

.product_detail .product_desc{
    line-height:18px;	
    text-align:left;
    color:#000000;
}

.right_container .product_detail .product_desc{
    padding-left:15px;	
}

.product_detail .btn_container{
    padding-top:15px;
}


.product_detail .btn_container .btn{
    padding-bottom:2px;
	margin-bottom:1px;
}
/*~~~~~~~  HTML SNIPPET  ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~  BANNER ADVERTISEMENT ~~~~~~~~~~~~~~~~~~~~*/

.banner_ad .banner_c{
	background-color: #b1c0c7;
	border:1px solid #5b6976;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`*/
